<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Agenda{% endblock %} | Contactos</title>
</head>
<body>
    <header>
        <h1>Agenda de contactos</h1>
        <a href="{% url 'contactos:list' %}">Inicio</a> |
        <a href="{% url 'contactos:create' %}">Agregar contacto</a>
    </header>
    <hr>
    <main>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>